@import 'mixins';

.navlinks {
    @include until($desktop) {
        padding-left: 18rem;
    }

    a {
        display: block;
        @include gradient-link;
        @include linkAnimation;
    }
}

.navTitle {
    text-decoration: underline;
}
